html {
	scroll-behavior: smooth;
}

body {
	margin: 0px!important;
}

main {
	position: relative;
	overflow: hidden;
	background: #1E1D1A;
}

.text-color-white {
	color: #ffffff;
}

.text-color-blue {
	color: #4CAEE5;
}


.krstnbstlls {
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 0px;
}

.btn-gray {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
	color: #ffffff;
	width: auto;
	border-radius: 4px;
	padding: 12px 20px 12px 20px;
	background-color: #32312E;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn-gray span{
	color: #4CAEE5;
	position: relative;
	transition: all 0.5s ease;
	right: 0;
}

.btn-gray:hover span {
	right: -5px;
}

.custom-con {
	width: 1100px;
	margin: auto;
}


.nav-link {
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	transition: all 0.4s ease;
}

.nav-link:hover {
	color: #4CAEE5;
}

.nav-link.active {
	color: #4CAEE5;
}


.header-title {
	font-family: 'Inconsolata', monospace;
	font-size: 60px;
	font-weight: 900;
	line-height: 63px;
}

.header-title-md {
	font-family: 'Inconsolata', monospace;
	font-size: 40px;
	font-weight: 700;
	line-height: 42px;
}

.block-title-sm {
	font-family: 'Inconsolata', monospace;
	font-size: 32px;
	font-weight: 900;
	line-height: 34px;
}

.block-title {
	font-family: 'Inconsolata', monospace;
	font-size: 48px;
	font-weight: 900;
	line-height: 50px;
}

.body-text-lg {
	font-family: 'Inconsolata', monospace;
	font-size: 24px;
	font-weight: 400;
	line-height: 25px;
}

.body-text-lg-bld {
	font-family: 'Inconsolata', monospace;
	font-size: 24px;
	font-weight: 900;
	line-height: 25px;
}


.body-text-md {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;
}

.body-text-sm {
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
}

.body-text {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
}

.footer-link {
	font-family: 'Inconsolata', monospace;
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	color: #4CAEE5;
	display: inline-block;
	text-decoration: none;
	transition: all 0.4s ease;
	border-bottom: 1px solid transparent;
}

.footer-link:hover {
	border-bottom: 1px solid #FFFFFF;
}

.navigation-block {
    width: 100vw;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #1E1D1A;
}

.navigation-block .nav-custom-con {
    width: 1220px;
    margin: auto;
}

.navigation-block .nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-block .nav-con img.logo {
	height: auto;
	padding-top: 15px;
}

.navigation-block .navigation-link-con {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 64px;
    justify-items: end;
    align-items: center;
    margin: 0px;
}

.navigation-block .navigation-link-con-mob,
.navigation-block-mob {
	display: none;
}

.footer-block {
	padding-top: 56px;
	padding-bottom: 56px;
	background: #1E1D1A;
	text-align: center;
}

.footer-block .body-text-md {
	margin-top: 24px;
	margin-bottom: 24px;
}

.footer-block .mail-con,
.footer-block .git-con {
	display: flex;
	justify-content: center;
    align-items: center;
}

.footer-block img.footer-ico {
    height: 19px;
    margin-right: 16px;
    object-fit: contain;
}

.footer-block .git-grid {
	display: flex;
	align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.footer-block .git-con {
	margin-left: 10.5px;
	margin-right: 10.5px;
}

@media screen and (max-width: 1100px){
	.custom-con {
	    width: 1000px;
	}

	.navigation-block .nav-custom-con {
	    width: 1031px;
	}
}

@media screen and (max-width: 1024px){
	.custom-con {
	    width: 900px;
	}

	.navigation-block .nav-custom-con {
	    width: 980px;
	}
}

@media screen and (max-width: 981px){
	.custom-con {
	    width: 90%;
	}

	.navigation-block .navigation-link-con {
	    display: none;
	}

	.navigation-block .nav-custom-con {
	    width: 95%;
	}

	.navigation-block .nav-con img.logo {
	    height: 25px;
	    padding-top: 0px;
	}

	.navigation-block .navigation-link-con-mob,
	.navigation-block-mob{
		display: block;
	}

	.navigation-block .hamburger {
	    font-family: 'Inconsolata', monospace;
	    font-size: 31px;
	    font-weight: 400;
	    line-height: 31px;
	    color: #4CAEE5;
	    cursor: pointer;
	}

	.navigation-block .hamburger span{
	    transition: all 0.4s ease;
	}

	.navigation-block-mob {
	    position: fixed;
	    top: 0;
	    left: 0;
	    height: 100vh;
	    width: 100vw;
	    z-index: 999;
	    background-color: #1E1D1A;
	    overflow: hidden;
	    transition: all 0.4s ease;
	}

	.navigation-block-mob .navigation-block-mob-con {
	    height: 100%;
	    display: grid;
	    justify-items: center;
	    align-items: center;
	    align-content: center;
	    grid-template-columns: 1fr;
	    grid-row-gap: 30px;
	}

	.nav-link {
	    font-size: 41px;
	    line-height: 42px;
	}

	.header-title {
	    font-size: 41px;
	    line-height: 43px;
	}

	.header-title-md,
	.block-title,
	.block-title-sm {
	    font-size: 24px;
	    line-height: 25px;
	}

	.body-text-md,
	.body-text-lg,
	.body-text-lg-bld,
	.footer-link {
	    font-size: 16px;
	    line-height: 17px;
	}

	.krstnbstlls {
	    padding-top: 100px;
	}

	.footer-block {
	    padding-top: 56px;
	}

}

@media screen and (max-width: 600px){
	.custom-con {
	    width: 90%;
	}

	.navigation-block .nav-custom-con {
	    width: 95%;
	}

	.krstnbstlls {
	    padding-top: 70px;
	}

	.footer-block {
	    padding-top: 56px;
	}

	.body-text, .footer-link {
	    font-size: 12px;
	    line-height: 13px;
	}
}
