.header-block {
	padding-top: 161px;
	/*background-color: #1E1D1A;*/
	background-image: url('../images/header-bg.png');
    background-position: bottom;
    background-size: cover;
}

.header-block .header-con {
	display: flex;
	justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header-block .header-con img {
	height: auto;
	object-fit: contain;
	width: 50%;
}

.header-block .header-con .header-text-con {
    width: 50%;
    padding-right: 75px;
}

.header-block .header-title-md {
	margin-top: 12px;
	margin-bottom: 12px;
}

.header-block .typed-cursor{
	color: #FFFFFF;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.header-block .btn-con {
    margin-top: 22px;
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    justify-items: start;
    grid-column-gap: 23px;
    justify-content: start;
}

.about-block {
	/*background-color: #252421;*/
	background-image: url('../images/about-bg.png');
    background-position: top;
    background-size: cover;
}

.about-block .block-title {
	text-align: center;
}

.about-block .about-text-con {
	margin-top: 24px;
	margin-bottom: 17px;
}

.about-block .about-text-con .body-text-lg b{
	font-weight: 900;
}

.about-block .certificate-grid {
	margin-top: 27px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 27px;
}

.about-block .certificate-card a {
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.5s ease;
	border-bottom: 1px solid transparent;
}

.about-block .certificate-card a span{
	color: #4CAEE5;
	position: relative;
	transition: all 0.5s ease;
	right: 0;
}

.about-block .certificate-card a:hover{
	border-bottom: 1px solid #4CAEE5;
}

.about-block .certificate-card a:hover span{
	right: -5px;
}

.skills-block {
	/*background-color: #1E1D1A;*/
	background-image: url('../images/skills-bg.png');
    background-position: bottom;
    background-size: cover;
}

.skills-block .block-title {
	text-align: center;
}

.skills-block .skills-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	margin-top: 39px;
}

.skills-block .skills-card {
	padding: 16px 32px 16px 32px;
	border-radius: 10px;
	background: #252421;
	text-align: center;
}

.skills-block .skills-card img.skills-img {
	height: 80px;
	margin-bottom: 15px;
	object-fit: contain;
}

.works-block {
	/*background-color: #252421;*/
	background-image: url('../images/works-bg.png');
    background-position: bottom;
    background-size: cover;	
    padding-bottom: 70px;
}

.works-block .block-title {
	text-align: center;
}

.works-block .works-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 51px;
	margin-top: 39px;

}

.works-block .work-card {
	padding: 16px 32px 16px 32px;
	background: #21201D;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	transition: all 0.5s ease;
}

.works-block .work-card .works-img {
	width: 100%;
	height: 140px;
	object-fit: cover;
}

.works-block .work-card .body-text-lg-bld {
	margin-top: 8px;
	margin-bottom: 8px;
}

.works-block .work-card .body-text-lg-bld span{
	position: relative;
	transition: all 0.5s ease;
	right: 0;
}
.works-block .work-card:hover{
	box-shadow: 0px 11px 33px rgba(76, 174, 229, 0.2);
	border-radius: 10px;
}

.works-block .work-card:hover .body-text-lg-bld span{
	right: -5px;
}

@media screen and (max-width: 1100px){
	.skills-block .skills-card {
	    padding: 16px;
	}

	.works-block .works-grid {
	    grid-column-gap: 25px;
	}

	.header-block .header-con img {
	    width: 45%;
	}

	.header-block .header-con .header-text-con {
	    padding-right: 0px;
	}

	.header-block .header-con {
	    justify-content: space-between;
	}
}


@media screen and (max-width: 981px){

	.skills-block .skills-card img.skills-img {
	    height: 50px;
	}

	.skills-block .skills-card {
	    padding: 10px;
	}

	.works-block {
	    padding-bottom: 20px;
	}

	.works-block .works-grid {
	    grid-column-gap: 20px;
	}

	.works-block .work-card {
	    padding: 16px 20px 16px 20px;
	}

	.works-block .work-card .works-img {
	    height: auto;
	}

}

@media screen and (max-width: 600px){
	.header-block {
	    padding-top: 131px;
	}

	.header-block .header-con {
	    align-items: center;
	    flex-direction: column-reverse;
	    justify-content: center;
	    align-content: flex-start;
	}

	.header-block .header-con .header-text-con {
		width: 100%;
		margin-top: 50px;
		text-align: center;
	}

	.header-block .header-con img {
	    width: 50%;
	}

	.header-block .btn-con {
	    justify-content: center;
	}

	.skills-block .skills-grid {
	    margin-top: 25px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	}

	.works-block .works-grid {
	    grid-template-columns: 1fr;
	    grid-row-gap: 20px;
	    grid-column-gap: 20px;
	}

	.skills-block .skills-card {
	    padding: 15px 10px 15px 10px;
	    width: 65px;
	    margin: 10px 0px 10px 0px;
	}
}

